@let todosData = todos();
@let todoData = todo();

<h2>Todos</h2>

@if (todosData) {
  <ul>
    @for (t of todosData; track t.id) {
      <li>{{ t.id }} — {{ t.title }}</li>
    }
  </ul>
}

<button (click)="decrement()">−</button>
<button (click)="increment()">+</button>

<button #randomBtn>
  Generate random ID
</button>

<hr />

@if (todoData) {
  <h3>Todo with ID {{ todoData.id }}</h3>
  <p><strong>Title:</strong> {{ todoData.title }}</p>
  <p><strong>Completed:</strong> {{ todoData.completed }}</p>
}
